/recognition/Leyla Suljic 48912196 ConvNeXt Classify Alzheimer Disease Of The ADNI Brain Data/data/
/recognition/Leyla Suljic 48912196 ConvNeXt Classify Alzheimer Disease Of The ADNI Brain Data/alzheimer_results*/
/recognition/Leyla Suljic 48912196 ConvNeXt Classify Alzheimer Disease Of The ADNI Brain Data/gfnet_results/
/recognition/__pycache__/